training_state.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="save_state">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="q_and_a_file_path" type="xsd:string" minOccurs="1" maxOccurs="1" />
				<xsd:element name="deactivated_questions" type="xsd:string" minOccurs="1" maxOccurs="1" />
				<xsd:element name="training_process" type="xsd:string" minOccurs="1" maxOccurs="1" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>